.auth__link {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
 margin-left: 8px;
 color: #fff;
 text-decoration:none;
}
.auth__link:hover {
  opacity: 0.8;
}