.element__delete {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/delete.svg);
  background-repeat: no-repeat;
  /* background-color: #fff; */
  cursor: pointer;
  padding: 0;
  width: 18px;
  height: 19px;
  position: absolute;
  right: 19px;
  top: 18px;
}

.element__delete:hover {
  opacity: 0.5;
}